@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Poppins:wght@100;700&display=swap');
:root{
    --black:#000112;
    --very-dark-grey: #20212C;
    --dark-grey: #2B2C37;
    --lines-dark: #3E3F4E;
    --medium-grey: #828FA3;
    --lines-light: #E4EBFA;
    --light-grey: #F4F7FD;
    --white: #FFFFFF;
    --main-purple: #635FC7;
    --main-purple-hover: #A8A4FF;
    --main-red: #EA5555;
    --main-red-hover: #FF9898;
    --body-color: #fff;
    --body-content-box: #f2f2f2;
    --bg-add-col: rgba(99, 95, 199, 0.10);
    --bg-modal: #ffffff;
    --color-input-border:rgba(130, 143, 163, 0.25);
    --bg-sidenav: #ffffff;
}
.dark-theme{
    --body-color: #2B2C37;
    --body-content-box: #20212C;
    --black: #ffffff;
    --lines-light: #3E3F4E;
    --bg-add-col: #ffffff;
    --bg-modal: #2B2C37;    
    --color-input-border:rgba(130, 143, 163, 0.25);
    --bg-sidenav: #20212C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.form-check-input{
    cursor: pointer;
}
.form-check-input:focus {
  box-shadow: none !important;
}
.form-check-input:checked[type="checkbox"] {
  background-color: var(--main-purple);
}
.heading_xl{
    color: var(--black);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.p_text{
    color: var(--medium-grey);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
}
.font_18{
    font-size: 18px;
}
.grey_text{
    color: var(--medium-grey);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btn_primary{
    width: 164px;
    height: 48px;
    border-radius: 24px;
    background: var(--main-purple);
    color: var(--white);
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
}
.d-none{
    display: none !important;
    transition: 0.3s;
}
.d-block{
    display: block !important;
    transition: 0.3s;
}
.cmn_input{
    width: 416px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--color-input-border);
    background: var(--bg-modal);
    color: var(--black);
}
.cmn_input::placeholder{
    color: var(--black);
    opacity: 0.5;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}
.cmn_input:focus, .cmn_input:active{
    border: 1px solid var(--color-input-border);
    box-shadow: none;
    outline: none;
}

/* Modal start */
.add_board_modal .modal-content{
    background-color: var(--bg-modal);
    padding: 0 12px 12px 12px;
}
.add_board_modal .modal-content .modal-header{
    border-bottom: none;
}
.add_board_modal .modal-content .modal-header button{
    border: none;
    background-color: transparent;
}
.add_board_modal .modal-content .modal-footer{
    flex-direction: column;
    gap: 24px;
    border: none;
}
.add_board_modal .modal-content .board_col_container .col_input_wrap{
    margin-bottom: 12px;
}
.add_board_modal .modal-content .modal-body .board-form{
    margin-bottom: 24px;
}
.add_board_modal .modal-content .modal-body label{
    margin-bottom: 8px;
}

.add_board_modal .modal-content .modal-footer .add_col_btn{
    background-color: var(--bg-add-col);
    color: var(--main-purple);
    width: 100%;
}
.add_board_modal .modal-content .modal-footer .add_board_btn{
    background-color: var(--main-purple);
    color: var(--white);
    width: 100%;
}

/* Modal end */

.Kanban_main_wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px calc(100vh - 100px);
    background-color: var(--body-color);
}
.Kanban_main_wrapper .left_header{
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 1px solid var(--lines-light);
    display: flex;
    align-items: center;
    padding-left: 32px;

}
.Kanban_main_wrapper .left_header .logo_mobile{
    display: none;
}
.Kanban_main_wrapper .right_header{
    grid-column: 2/-1;
    grid-row: 1/2;
    border-bottom: 1px solid var(--lines-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}
.Kanban_main_wrapper .right_header .add_task_section{
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
}
 img{
    /* padding: 8px 1px 0 1px; */
    cursor: pointer;
}

.Kanban_main_wrapper .right_header .add_task_section .add_task_sidenav{
    position: absolute;
    background: var(--bg-sidenav);
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
    right: 0;
    top: 60px;
    width: 192px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 16px;
    gap: 8px;
    padding-top: 16px;
    z-index: 2;
}
.Kanban_main_wrapper .right_header .add_task_section .add_task_sidenav .p_text{
    cursor: pointer;
}


/* sidebar css start */
.Kanban_main_wrapper .kanban_sidebar{
    grid-column: 1/2;
    grid-row: 2/-1;
    border-right: 1px solid var(--lines-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0 20px 30px;
}
.top_nav ul{
    padding: 0;
}
.top_nav ul a{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
    margin-left: -30px;
    width: 276px;
    height: 48px;
    border-radius: 0px 100px 100px 0px;
    color: var(--medium-grey);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.top_nav ul a.active img{
   filter: brightness(0) invert(1);
}
.top_nav ul a.new_board_btn{
    color: var(--main-purple);
}
.top_nav ul a.active{
    color: var(--white);
    background: var(--main-purple);
}
.Kanban_main_wrapper .right_header .add_task_section .add_btn_mobile{
    display: none;
}

.light_mode {
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  background-color: var(--body-content-box);
}
.hide_nav{
    display: flex;
    gap: 20px;
    padding: 20px 0 10px 0;
    cursor: pointer;
}
/* sidebar css end */


/* Main content css start */
.Kanban_main_wrapper .kanban_content_wrapper{
    grid-column: 2/-1;
    grid-row: 2/-1;
    background-color: var(--body-content-box);
}
.Kanban_main_wrapper .full_content_wrapper{
    grid-column: 1/-1;
    background-color: var(--body-content-box);
}
.Kanban_main_wrapper .kanban_content{
    position: relative;
    display: flex;
    overflow: scroll;
    height: 100%;
    gap: 24px;
    padding: 24px;
}

/* .Kanban_main_wrapper .full_content{
    transition: 0.3s;
    position: relative;
    display: flex;
    overflow: scroll;
    height: 100%;
} */
.Kanban_main_wrapper .kanban_content .vertical_car,
.Kanban_main_wrapper .full_content .vertical_car{
    min-width: 280px;
}
/* .Kanban_main_wrapper .kanban_content .item1,
.Kanban_main_wrapper .full_content .item1{
    background-color: #635FC7;
} */
/* .Kanban_main_wrapper .kanban_content .item2,
.Kanban_main_wrapper .full_content .item2{
    background-color: #FF9898;
} */
.Kanban_main_wrapper .kanban_content .item3,
.Kanban_main_wrapper .full_content .item3{
    background-color: #5fc788;
}
.kanban_content .close_nav, .full_content .close_nav{
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 9;
  cursor: pointer;
}
.kanban_content .vertical_car .card_heading{
    display: flex;
    gap: 12px;
    padding-bottom: 24px;
}
.kanban_content .vertical_car .card_heading .circle{
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.kanban_content .item2 .card_heading .circle{
    background-color:#49C4E5;
}
.kanban_content .item1 .card_heading .circle{
    background-color: #8471F2;;
}

.kanban_content .vertical_car .card_content{
    width: 280px;
    height: 88px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: var(--body-color);
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
    padding: 22px 16px;
}
.kanban_content .vertical_car .card_content .task_title{
    font-size: 15px;
    margin-bottom: 6px;
}
.kanban_content .vertical_car .card_content .subtask_title{
    color: var(--medium-grey);
}
