$body-color: #edf3f4;
$color-circle-light: #9797973d;
$color-circle-dark: #36536B;
$color-secondary: #1B262F;
$color-white: #fff;
$color-pink-dark: #BA4270;
$color-pink-light: #DA6D97;
$color-text-white: #FBFCFE;