.ready-to-start{
    grid-row: 7/8;
    grid-column: 2/12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .schedule_btn_wrap{
        @include schedule-button;
    }
}